<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Page Title</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title>Oval</title>
</head>

<body>
<div class="oval"> </div>
<div class="rectangle"></div>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

<form method="POST" action="{{ url_for('send') }}">
    <input type="text" name="email-input" placeholder="Email">
    <br><br>
    <label for="send">Choose asasadsf:</label>
    <select name="send" id="send">
        <option value="a">a</option>
        <option value="b">b</option>
        <option value="c">c</option>
        <option value="d">d</option>
    </select>
    <br><br>
    <button type="submit">submit</button>
</form>

</body>
</html>