<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}">
    <title>Daily Mailer</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title>Oval</title>
</head>

<body>
<div class="oval"> </div>
<div class="rectangle"></div>

<h1>This is a Heading</h1>


<form method="POST" action="{{ url_for('send') }}">
    <input type="text" name="email-input" placeholder="Email">
    <br><br>
    <label for="message-type">Choose your mail!:</label>
    <select name="message-type" id="send">
        <option value="a">INSULT</option>
        <option value="b">QUOTE</option>
        <option value="c">FUN FACT</option>
        <option value="d">d</option>
    </select>
    <br><br>
    <button type="submit">Submit</button>
</form>
{% if emailInvalid %}
    <p>Invalid email!</p>
{% endif %}

</body>
</html>