<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styleTy.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/mail_favicon.png') }}">


    <title>Document</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title>Oval</title>
</head>
<body>
<div class="oval"> </div>
<img src="{{ url_for('static', filename='images/smiley.gif') }}" alt="smile" class="img">
<h1 style="font-size:100px;">Thank you for using Daily Mailer!</h1>

</body>
</html>